@{
    ViewBag.Title = "About Cincinnati";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Cincinnati is a very historic city. It began in 1788. There are many things to do within the city. Whether its going to the zoo, reds or bengals game, or taking hisotoric tours. There are many breweries and fun tours you can take of them. If you are looking for a fun new event, look for an FC Cincinnati Soccer game! 
    
    You can also go across the river to Newport, Kentucky to see the aquariuam and a beautiful view of the skyline!
    
    Come visit Cincinnati today!</p>
