@{
    ViewBag.Title = "Contact Megan to find out more about Cincinnati!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Bengals Way<br />
    Cincinnati, OH 45224<br />
    <abbr title="Phone">P:</abbr>
    513.377.1123
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ms837613@ohio.edu">ms837613@ohio.edu</a><br />
</address>