@{
    ViewBag.Title = "Cincinnati Home Page";
}

<div class="jumbotron">
    <h1>The City of Cincinnati</h1>
    <p class="lead">What makes the Queen City so great? Find out below!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Skyline</h2>
        <p>
            Skyline is one of the many reasons Cincinnati is so great. From the classic cheese coney to the chilito there are endless possiblities. Who does not want spaghetti, chili, and cheese in one big bowl.
        </p>
        <p><a class="btn btn-default" href="https://skylinechili.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mt Adams</h2>
        <p>Mt. Adams is a place to go to get a beautiful view of the city. Not only does it overlook the entire city and Ohio River, it is home to many of Cincinnati's best food. </p>
        <p><a class="btn btn-default" href="https://mtadamscincy.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Zoo</h2>
        <p>The Cincinnati Zoo is a beautiful zoo. You can find the Harambe memorial or see the famous hippo Fiona.</p>
        <p><a class="btn btn-default" href="https://cincinnatizoo.org/">Learn more &raquo;</a></p>
    </div>
  
</div>